:root {
  --bgColor: #fcacb8;
  --color: white;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#navBar {
  background-color: var(--bgColor);
}

#navItems {
  color: var(--color);
}

#navList a {
  color: var(--color);

  &:hover {
    font-weight: bolder;
  }
}

#heroImg {
  height: 28rem;
  width: 100%;
}

#heroBtn {
  background-color: var(--bgColor);
  color: var(--color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 0;
}

#aboutUs,
#contactUs {
  background-color: var(--bgColor);
  color: var(--color);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 4px solid white; /* <-- visible separator */
}

#heroText h1 {
  color: var(--bgColor);
  font-size: 2rem;
  font-weight: bolder;
}

#storyText {
  color: var(--bgColor);
  font-size: 1.5rem;
  font-weight: bolder;
}

#txt{
  color: var(--bgcolor) !important;
  font-size: 2rem;
  font-weight: bolder;
}

section {
  margin-left: 0 !important;
  /* padding-left: 0 !important; */
}

#footer {
  background-color: var(--bgColor);
}